<div class="detail-section">
    <div class="container-fluid">
        <p style="margin-top:100px">{{product?.name}}</p>
          <img src="{{product?.imageUrl}}" class="detail-img">
            
          <h3>{{product?.name}}</h3>
          <div class="price">{{product?.unitPrice|currency:'USD'}}</div>
          <a href="#" class="btn btn-primary">ADD TO CART</a>
          <hr>
            <h4>Product Description</h4>
            <p>{{product?.description}}</p>
              <a [routerLink]="['/products']" class="mt-2">Back to product List</a>
    </div>
</div>
